body {
    background-color: #b6a396;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
}

.center {
    text-align: center;
}

h1 {
    color: #198b2c;
    text-align: center;
}

h2 {
    color: #055309;
}

h3 {
    color: #055309;
}

p {
    font-size: 18px;
    text-align: justify;
}

ul {
    line-height: 2;
}

img {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}

table, th, td {
    border: 1px solid rgba(9, 80, 13, 0.993);
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
}

a {
    color: #a32727;
    text-decoration: none;
}

a:hover {
    color: #128a02;
    text-decoration: underline;
}

button {

    color: #032e05;

}
